<ul class="list-reset post-list">
    {% for post in site.posts %}
    {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
    <li>
        <a class="post-list-anchor" href="{{ post.url | relURL }}">
            <div class="post-list-title-container">
                <h3 class="post-list-title">{{ post.title | escape }}</h3>
                <p class="post-list-date">{{ post.date | date = date_format }}</p>
            </div>
            <p class="post-list-excerpt">{{ post.excerpt }}</p>
        </a>
    </li>
    {% endfor %}
</ul>
