<a class="avatar" href="{{ '/' | relative_url }}">
    <img src="{{ site.profile_url | absolute_url }}"
         alt="Jason Profile Picture">
</a>

<ul class="list-reset">
    <li class="sidebar-title">
        <h5>Over Here</h5>
    </li>
    <li>
        <a href="{{ '/about' | relative_url }}">About</a>
    </li>
    <li>
        <a href="{{ '/resume' | relative_url }}">Resume</a>
        <a href="{{ site.resume_url | absolute_url}}" target="_blank" style="display: inline-block; height: 0.9rem">
            <img src="{{ '/assets/icons/ic-link-48px.svg' | relative_url }}" class="inline-block" alt="external resume link icon" style="max-height: 100%; position: relative; top: 3px">
        </a>
        <a href="{{ '/assets/resume/resume.json' | absolute_url}}" target="_blank" style="display: inline-block; background-color: #38c172; color: white; font-size: 0.7rem; padding: 2px 4px; border-radius: 2px">
            <span>json</span>
        </a>
    </li>
</ul>

<ul class="list-reset">
    <li class="sidebar-title">
        <h6>Projects</h6>
    </li>
    <li><a href="{{ '/posts/traverse' | relative_url }}">Traverse</a></li>
    <li><a href="{{ '/posts/can-i-poop' | relative_url }}">Can I Poop?</a></li>
    <li><a href="{{ '/posts/flipp' | relative_url }}">Flipp</a></li>
    <li><a href="{{ '/archives' | relative_url }}">Archives</a></li>
</ul>

<ul class="list-reset">
    <li class="sidebar-title">
        <h5>Over There</h5>
    </li>
    <li>
        <a href="https://git.jasonraimondi.com/jason?tab=activity"
           target="_blank"
        >Gitea</a>
    </li>
    <li>
        <a href="https://github.com/jasonraimondi"
           target="_blank"
        >GitHub</a>
    </li>
    <li>
        <a href="https://www.goodreads.com/jasonraimondi"
            target="_blank"
        >GoodReads</a>
    </li>
    <li>
        <a href="https://leetcode.com/jasonraimondi"
           target="_blank"
        >Leetcode</a>
    </li>
    <li>
        <a href="https://linkedin.com/in/jasonraimondi"
           target="_blank"
        >LinkedIn</a>
    </li>
    <li>
        <a href="https://vimeo.com/jasonraimondi"
           target="_blank"
        >Vimeo</a>
    </li>
</ul>
