.contact-section {
  display: flex;
}

.contact-details,
.contact-external-links {
  margin-top: 1rem;
  line-height: 1.4;
}

.contact-details {
  flex: 1;

  @media (--medium) {
    flex: initial;
  }
}

.contact-external-links {
  text-align: right;

  @media (--medium) {
    text-align: initial;
    padding-left: 2rem;
  }

  @media print {
    display: none;
  }
}
