@import "normalize.css/normalize.css";

@import "../_mixin.css";
@import "../_base.css";
@import "../_colors.css";
@import "../_typography.css";

@import "../base/_html.css";
@import "../base/_headings.css";
@import "../base/_typography.css";
@import "../base/_anchor.css";
@import "../base/_noscript.css";
@import "../base/_img.css";
@import "../base/_container.css";
@import "../base/_label.css";

@import "_layout.css";
@import "_me.css";
@import "_skills.css";
@import "_contact.css";

:root {
  --font-family-sans: Fira Sans, Helvetica Neue, Arial, sans-serif;
}

@media print {
  html {
    font-size: 90%;
  }
  .print-hide {
    display: none;
  }
}
