<ul>
    <li>External Links</li>
    <li>
        <a href="https://git.jasonraimondi.com/jason"
           target="_blank"
        >My Git Repository</a>
    </li>
    <li>
        <a href="https://github.com/jasonraimondi"
           target="_blank"
        >GitHub</a>
    </li>
    <li>
        <a href="https://linkedin.com/in/jasonraimondi"
           target="_blank"
        >LinkedIn</a>
    </li>
    <li>
        <a href="https://vimeo.com/jasonraimondi"
           target="_blank"
        >Vimeo</a>
    </li>
    <li>
        <a href="https://www.instagram.com/jsonraimondi"
           target="_blank"
        >Instagram</a>
    </li>
</ul>
