<a class="avatar" href="{{ '/' | relative_url }}">
    <img src="{{ site.profile_url }}"
         alt="Jason Profile Picture">
</a>

<ul class="list-reset">
    <li class="sidebar-title">
        <h5>Over Here</h5>
    </li>
    <li>
        <a href="{{ '/resume' | relative_url }}">Resume</a>
    </li>
    <li>
        <a href="{{ '/about' | relative_url }}">About</a>
    </li>
    <li>
        <a href="{{ '/tags' | relative_url }}">Tags</a>
    </li>
</ul>

<ul class="list-reset">
    <li class="sidebar-title">
        <h6>Some Projects</h6>
    </li>
    <li><a href="{{ '/posts/traverse' | relative_url }}">Traverse</a></li>
    <li><a href="{{ '/posts/can-i-poop' | relative_url }}">Can I Poop?</a></li>
    <li><a href="{{ '/posts/flipp' | relative_url }}">Flipp</a></li>
</ul>

<ul class="list-reset">
    <li class="sidebar-title">
        <h5>Over There</h5>
    </li>
    <li>
        <a href="https://git.jasonraimondi.com/jason"
           target="_blank"
        >My Git Repository</a>
    </li>
    <li>
        <a href="https://github.com/jasonraimondi"
           target="_blank"
        >GitHub</a>
    </li>
    <li>
        <a href="https://linkedin.com/in/jasonraimondi"
           target="_blank"
        >LinkedIn</a>
    </li>
    <li>
        <a href="https://leetcode.com/jasonraimondi"
           target="_blank"
        >Leetcode</a>
    </li>
    <li>
        <a href="https://vimeo.com/jasonraimondi"
           target="_blank"
        >Vimeo</a>
    </li>
    <li>
        <a href="https://www.goodreads.com/jasonraimondi"
            target="_blank">
            GoodReads
        </a>
    </li>
</ul>
