---
layout: master
---
<main class="py-8 px-4 md:px-4 md:h-full md:flex md:flex-col md:align-middle md:justify-center">
    <section class="text-center">
        <div>
            <img class="rounded-full w-64" src="{{ site.profile_url }}" alt="profile picture">
        </div>
        <div class="mt-4 mb-8">
            <h1 class="font-script">Jason Raimondi</h1>
            <h2>Builder, Technologist, Geek</h2>
            <p class="mt-2">Feel free to check out some of my work below to find out a little more about me!</p>
        </div>
        <ul class="list-reset">
            <li class="mb-2 md:mb-4">
                <a class="w-32 no-underline button blue" href="{{ '/posts' | relative_url }}">Posts</a>
            </li>
            <li class="mb-2 md:mb-4">
                <a class="w-32 no-underline button blue" href="https://github.com/jasonraimondi">GitHub</a>
            </li>
            <li class="mb-2 md:mb-4">
                <a class="w-32 no-underline button blue" href="http://git.jasonraimondi.com">Personal Git</a>
            </li>
            <li class="mb-2 md:mb-4">
                <a class="w-32 no-underline button blue" href="https://vimeo.com/jasonraimondi">Vimeo</a>
            </li>
            <li class="mb-2 md:mb-4">
                <a class="w-32 no-underline button blue" href="https://linkedin.com/in/jasonraimondi">LinkedIn</a>
            </li>
            <li>
                <a class="w-32 no-underline button blue" href="{{ '/assets/resume/JasonRaimondi-Resume-3.1.3-FullStackWebEngineer.pdf' | relative_url }}">Résumé</a>
            </li>
        </ul>
    </section>
</main>
