<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}
<body>
<nav class="navigation">
    <div class="navigation-constrain">
        {% include topbar.html %}
    </div>
</nav>
<main class="main-content">
    <div class="page-content">
        <div class="width-constrain">
            <nav class="mobile-nav">
                <div class="sidebar-toggle-container">
                    <a class="toggle-button sidebar-toggle-icon"></a>
                </div>
                <h2>JASON RAIMONDI</h2>
            </nav>
            {{ content }}
        </div>
    </div>
</main>
<aside class="sidebar">
    {% include sidebar.html %}
</aside>
</body>
{% include scripts.html %}
</html>
