---
layout: master
---
<article class="container mx-auto max-w-md py-8 px-4 md:px-0" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="pb-4">
    <h1 class="text-2xl mb-2" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="italic">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
  </header>

  <section class="post-content use-pretty-links" itemprop="articleBody">
    {{ content }}
  </section>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(function() {
    return $("h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '#';
      if (id) {
        return $el.prepend($("<a />").addClass("header-link").addClass('mr-2').addClass('text-grey').attr("href", "#" + id).html(icon));
      }
    });
  });
</script>
