{{ define "main" }}
    <ul class="list-reset post-list">
        {{ range .Data.Pages.ByDate.Reverse }}
            <li>
                <a class="post-list-anchor" href="{{ .Permalink | absURL }}">
                    <div class="post-list-title-container">
                        <h3 class="post-list-title">{{ .Title }}</h3>
                        <p class="post-list-date">{{ .Date.Format "January 2, 2006" }}</p>
                    </div>
                    <p class="post-list-excerpt">{{ .Description }}</p>
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}

