.breadcrumbs {
  @mixin no-scrollbar;

  line-height: 1.5;
  white-space: nowrap;
  list-style-type: none;
  font-size: 0.8rem;
  overflow-x: auto;
  margin: 2em 0 1em;

  & li {
    display: inline-block;

    &::after {
      content: "/";
      margin: 0 0.15em;
    }

    &:last-child::after {
      content: none;
    }
  }
}

.breadcrumbs--home {
  fill: currentColor;
  height: 1em;
  position: relative;
  top: 2px;
}
