<a class="avatar" href="/">
    <img src="{{ $.Site.Params.ProfileURL }}" alt="Jason Profile Picture" />
</a>

<ul class="list-reset">
    <li class="sidebar-title">
        <h5>Over Here</h5>
    </li>
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="{{ $.Site.Params.ResumeURL }}" target="_blank">Resume</a>
        <a href="/assets/resume/resume.json" target="_blank" style="display: inline-block; background-color: #38c172; color: white; font-size: 0.7rem; padding: 2px 4px; border-radius: 2px">
            <span>json</span>
        </a>
    </li>
</ul>

<ul class="list-reset">
    <li class="sidebar-title">
        <h6>Projects</h6>
    </li>
    <li><a href="/posts/traverse">Traverse</a></li>
    <li><a href="/posts/can-i-poop">Can I Poop?</a></li>
    <li><a href="/posts/flipp">Flipp</a></li>
    <li><a href="/archives">Archives</a></li>
</ul>

<ul class="list-reset">
    <li class="sidebar-title">
        <h5>Over There</h5>
    </li>
    <li>
        <a href="https://git.jasonraimondi.com/jason?tab=activity"
           target="_blank"
        >Gitea</a>
    </li>
    <li>
        <a href="https://github.com/jasonraimondi"
           target="_blank"
        >GitHub</a>
    </li>
    <li>
        <a href="https://www.goodreads.com/jasonraimondi"
            target="_blank"
        >GoodReads</a>
    </li>
    <li>
        <a href="https://leetcode.com/jasonraimondi"
           target="_blank"
        >Leetcode</a>
    </li>
    <li>
        <a href="https://linkedin.com/in/jasonraimondi"
           target="_blank"
        >LinkedIn</a>
    </li>
    <li>
        <a href="https://vimeo.com/jasonraimondi"
           target="_blank"
        >Vimeo</a>
    </li>
</ul>
