.contact {
  @media print {
    margin-top: 0;
  }
}

.contact-section {
  display: flex;
}

.contact-details, .contact-external-links {
  line-height: 1.4;

  @media (--medium) {
    margin-top: 1rem;
  }
}

.contact-details {
  flex: 1;

  @media (--medium) {
    flex: initial;
  }
}

.contact-external-links {
  text-align: right;

  @media (--medium) {
    text-align: initial;
    padding-left: 2rem;
  }

  @media print {
    display: none;
  }
}
