:root {
  --resume-line-height: 1.4;
}

@media (--medium) {
  :root {
    --resume-line-height: 1.6;
  }
}

.section {
  padding-bottom: 1rem;

  @media print {
    padding-bottom: 0.25rem;
  }
}

.section-title {
  text-transform: uppercase;
  font-weight: var(--font-black);
  font-size: var(--text-lg);
}

.item-title {
  font-weight: var(--font-bold);
  margin-top: 0;
  margin-bottom: 0;
  line-height: var(--resume-line-height);
}

.item-subtitle {
  font-weight: var(--font-medium);
  font-size: var(--text-md);
  line-height: var(--resume-line-height);
}

.item-subtitle.additional {
  /** margin-top: 1rem; */
}

.item-date {
  font-weight: var(--font-light);
  font-size: var(--text-md);
  line-height: var(--resume-line-height);
}

.item {
  padding-bottom: 1rem;

  @media print {
    padding-bottom: 0.5rem;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

@media (--medium) {
  .item-well {
    background-color: var(--colors-gray-200);
    color: var(--colors-gray-600);
    border-radius: 5px;
    font-weight: var(--font-semibold);
    margin-bottom: 0;
    padding: 0.25em 0.5em 0.25em !important;
  }
}

.item-bullet {
  display: none;

  position: relative;
  top: -2px;
  width: 0.4em;
  height: 0.4em;
  padding-right: 0.25em;

  @media (--medium) {
    display: initial;
  }

  @media print {
    display: initial;
  }
}



.item-list li {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  line-height: var(--resume-line-height);

  @media (--medium) {
    padding-top: 0;
  }

  @media print {
    padding-top: 0;
    padding-bottom: 0.25rem;
  }
}


@media (--medium) {
  .resume-grid {
    display: grid;
    grid-template-areas:
      "left-column main-column";
    grid-template-columns: 33.33% minmax(0, 1fr);
    grid-column-gap: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-column { grid-area: main-column; }

  .left-column {
    grid-area: left-column;
    direction: rtl;
    text-align: right;
    white-space: nowrap;
  }
}

@media print {
  .resume-grid {
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-bottom: -1rem;
    }
  }

  .left-column {
    width: 33%;
    direction: rtl;
    text-align: right;
    white-space: initial;
  }

  .main-column {
    flex: 1;
    padding-left: 15px;
  }

  .last {
  }
  .job-title {

  }
}


@media (--large) {
  .resume-grid {
    grid-row-gap: 1rem;
  }
}
