#me {
  padding-top: 1rem;

  @media (--medium) {
    padding-top: 2rem;
    position: relative;
  }

  @media print {
    padding-bottom: 0;
  }
}

.name {
  text-transform: uppercase;
  line-height: 1;
  font-size: 4rem;

  @media (--medium) {
    font-size: 5rem;
    height: 5rem;
  }
  @media (--large) {
    font-size: 5rem;
    height: 5rem;
  }
  @media (--xlarge) {
    font-size: 7rem;
    height: 7rem;
  }
  @media print {
    font-size: 5.25rem;
    height: 5.25rem;
  }
}

.first {
  font-weight: var(--font-medium);
}

.last {
  font-weight: var(--font-black);

  @media print {
    margin-bottom: -1.25rem;
  }

  span {
    margin-left: -0.75rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

.job-title {
  font-size: var(--text-lg);
  text-transform: uppercase;

  @media (--medium) {
    margin: 0;
    height: var(--text-lg);
    padding: 0 0.5rem;
  }
}

@media (--medium) {
  .last a, .job-title {
    display: flex;
    justify-content: space-between;
  }
}

@media print {
  .last a, .job-title {
    display: flex;
    justify-content: space-between;
  }
}

.go-home {
  @media print {
    display: none;
  }

  @media (--medium) {
    display: none;
  }
}
