@import 'normalize.css';

@import 'css/_mixin.css';
@import 'css/_base.css';
@import 'css/_colors.css';
@import 'css/_typography.css';

@import 'css/base/_html.css';
@import 'css/base/_headings.css';
@import 'css/base/_typography.css';
@import 'css/base/_anchor.css';
@import 'css/base/_noscript.css';
@import 'css/base/_img.css';
@import 'css/base/_container.css';
@import 'css/base/_label.css';

@import 'resume/_layout.css';
@import 'resume/_me.css';
@import 'resume/_skills.css';
@import 'resume/_contact.css';

@media print {
  html {
    font-size: 90%;
  }
  .print-hide {
    display: none;
  }
}

