html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: var(--font-family-sans);
  font-size: 100%;

  background-color: var(--color-white);
  color: var(--color-black);

  @media (--dark) {
    background-color: var(--color-gray-800);
    color: var(--color-white);
  }

  @media (--large) {
    font-size: 110%;
  }


  @media print {
    font-size: 90%;
  }
}
