<!DOCTYPE html>
<html lang="en" class="no-js">
{{ partial "head/head.html" . }}
<body>
<noscript><p class="noscript">Things would be a lot easier if you just enabled JavaScript.</p></noscript>
<main class="container padded center">
    {{- partial "nav/top_bar.html" . -}}

    {{- block "main" . }}{{ end -}}

    {{- partial "footer/links.html" . -}}
</main>
{{- partial "footer/includes.html" . -}}
</body>

{{- $aboutMe := resources.Get "js/about-me.ts" | js.Build (dict "minify" false) | fingerprint -}}
<script type="text/javascript" src="{{ $aboutMe.Permalink }}" integrity="{{ $aboutMe.Data.Integrity }}"></script>

{{- $links := resources.Get "js/links.ts" | js.Build (dict "minify" false) | fingerprint -}}
<script type="text/javascript" src="{{ $links.Permalink }}" integrity="{{ $links.Data.Integrity }}"></script>

</html>
