.date {
  color: var(--colors-gray-500);
}

#post-tags-list {

}

.image-credit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  a {
    font-size: 0.7rem;
    color: var(--colors-gray-500);
    &:hover {
      color: var(--colors-gray-800);
      text-decoration: none;
    }
  }
}

#post-content {
  height: 100%;
  width: 100%;
}

.post-date {
  display: inline-block;
  font-style: italic;
  font-size: var(--text-xs);
  color: var(--colors-gray-500);

  @media (--dark) {
    color: var(--colors-gray-300);
  }

  @media (--large) {
    min-width: 200px;
  }
}
