.post-list {
  > li {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--colors-gray-800);
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  p {
    margin: 0;
    margin-bottom: 0.5em;
  }

  a:hover {
    text-decoration: none;
  }
}

.post-list-anchor {
  small {
    color: var(--colors-gray-500);
  }
}

.post-list-title {
  font-size: var(--text-lg);
  margin-bottom: 0.1rem;
  margin-top: 0.25rem;
  color: var(--colors-green-500);

  @media (--dark) {
    color: var(--colors-purple-500);
  }
}

.post-list-date {
  //display: inline-block;
  font-size: 80%;
  color: var(--colors-gray-800);

  @media (--dark) {
    color: var(--colors-gray-300);
  }

  @media (--large) {
    min-width: 200px;
  }
}
