.date {
  color: var(--colors-gray-500);
}

#post-tags-list {
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0;
    padding: 0;
  }
  a {
    margin: 0;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.image-credit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  a {
    font-size: 0.7rem;
    color: var(--colors-gray-500);
    &:hover {
      color: var(--colors-gray-800);
      text-decoration: none;
    }
  }
}

#post-content {
  height: 100%;
  width: 100%;

  p {
    line-height: 1.8;
  }

  .post-body > a {
    display: block;
  }

  a,
  ol,
  ul,
  div,
  pre {
    margin-bottom: 1rem;
  }

  li > ul {
    margin-bottom: 0;
  }

  small {
    line-height: 1.2;
  }

  ol,
  ul {
    margin-left: 0.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .header-link {
    margin-right: 0.5rem;
  }

  #TableOfContents {
    > ul {
      list-style-type: none;
      padding-left: 0;
      margin-left: 0;
    }
    li > ul {
      margin-left: 0;
    }
  }

  .asciicast  {
    width: 100%;

    iframe {
      width: 100%;
    }
  }
}

.post-date {
  display: inline-block;
  font-style: italic;
  font-size: var(--text-xs);
  color: var(--colors-gray-500);

  @media (--dark) {
    color: var(--colors-gray-300);
  }

  @media (--large) {
    min-width: 200px;
  }
}

.related-posts {
  margin-top: 3rem;

  ul li {
    margin-bottom: 1rem;
  }
}
