@mixin scrollable() {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --menu-icon-url: url('/icons/menu.svg');
  --sidebar-width: 275px;
  --sidebar-toggle-width: 0.9rem;

  /**
   * Root
   */

  --root-size: 100%;
  --root-size-large: 120%;

  /**
   * Container
   */

  --container-gutter: 1rem;
  --container-xxl: 1000px;
  --container-xl: 80%;
  --container-lg: 80%;
  --container-md: 80%;
  --container-sm: 90%;
  --container-xs: 95%;
}
