@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_root';
@import 'lib/pygment';

@import 'base';

a {
  color: var(--colors-green-500);
}

a:focus,
a:hover {
  color: var(--colors-green-800);
}