.breadcrumbs {
  display: none;
  @include no-scrollbar;

  line-height: 1.5;
  white-space: nowrap;
  list-style-type: none;
  //flex-wrap: wrap;
  font-size: 0.8rem;
  overflow-x: auto;

  li {
    display: inline-block;
    margin-left: 0.25rem;
    padding-left: 0;

    &:last-child {
      margin-left: 0.25rem;
    }
  }
}