.image-gallery-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.image-gallery-image,
.image-gallery-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-gallery-image img {
  object-fit: cover;
}

.image-gallery-anchor {
  text-decoration: none;
  font-style: italic;
  color: var(--color-gray-500);

  & a:hover {
    background-image: none !important;
  }
}

.image-alt-text {
}
