@import 'normalize.css';

@import 'css-resume/_mixin.css';
@import 'css-resume/_base.css';
@import 'css/_colors.css';
@import 'css-resume/_typography.css';

@import 'css-resume/base/_html.css';
@import 'css-resume/base/_headings.css';
@import 'css-resume/base/_typography.css';
@import 'css-resume/base/_anchor.css';
@import 'css-resume/base/_noscript.css';
@import 'css-resume/base/_img.css';
@import 'css-resume/base/_container.css';
@import 'css-resume/base/_label.css';

@import 'css-resume/resume/_layout.css';
@import 'css-resume/resume/_me.css';
@import 'css-resume/resume/_skills.css';
@import 'css-resume/resume/_contact.css';

:root {
  --resume-line-height: 1.4;
}

html {
  font-family: 'Inter', system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100%;

  @media (--large) {
    font-size: 20px;
  }
}

@media (--medium) {
  :root {
    --resume-line-height: 1.6;
  }
}

@media print {
  :root {
    --resume-line-height: 1.3;
  }
}


#resume {
  font-weight: 500;
}

.print-only {
  display: none;
}

html {
  line-height: var(--resume-line-height);
}

@media print {
  html {
    font-size: 90%;
  }

  .print-only {
    display: block;
  }

  .print-hide {
    display: none;
  }
}

