@import 'normalize.css';

@import 'css/_mixin.css';
@import 'css/_base.css';
@import 'css/_colors.css';
@import 'css/_typography.css';

@import 'css/base/_html.css';
@import 'css/base/_headings.css';
@import 'css/base/_typography.css';
@import 'css/base/_anchor.css';
@import 'css/base/_noscript.css';
@import 'css/base/_img.css';
@import 'css/base/_container.css';
@import 'css/base/_label.css';

@import 'resume/_layout.css';
@import 'resume/_me.css';
@import 'resume/_skills.css';
@import 'resume/_contact.css';

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

:root {
  --font-family-sans: 'Inter', Helvetica Neue, system-ui, sans-serif;
}

# resume {
  font-weight: 500;
}

@media print {
  html {
    font-size: 90%;
  }
  .print-hide {
    display: none;
  }
}

