.home {
  line-height: 1.4;
  p {
    padding-bottom: 1em;
  }
}
.home {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: var(--font-family-mono);
  }

  & h1 {
    font-size: 2.2rem;
    letter-spacing: -2.5px;
  }
  & h2 {
    font-size: 1.6rem;
    letter-spacing: -1.5px;
    line-height: 1;
  }
  & h3 {
    font-size: var(--text-lg);
    letter-spacing: -1px;
  }

  & ul {
    & li {
      margin-bottom: 0.25em;
    }
  }
}

.animoji-me {
  & img {
    height: 3rem;
    position: relative;
    top: 0.15em;
  }
}
