.list {
  margin-top: 2rem;

  > li {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--colors-gray-300);
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }

    @media (--dark) {
      border-color: var(--colors-gray-200);
    }
  }
}

.list-item--title {
  color: blue;
  font-size: var(--h2);
  margin: 0 0 0.25em;
}
.list-item--date {
  @mixin date-item;
}
.list-item--description {
  line-height: 1.4;
}