.single {
}
.single .single--title {
  font-size: var(--h2);
  margin: 0 0 0.25em;
}
.single--image {
  margin-bottom: 1rem;
}

.single--date {
  @mixin date-item;
}

.single--post--block1 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.single--post--tags {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 0.5em;
  }

  a {
    margin: 0;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.single--post-body {
  p,
  a,
  ol,
  ul,
  div,
  pre {
    margin-bottom: 1em;
    line-height: 1.5;
  }

  li > ul {
    margin-bottom: 0;
  }

  small {
    line-height: 1.2;
  }

  ol,
  ul {
    list-style: disc;
    margin-left: 1em;

    li {
      margin-bottom: 0.25em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .header-link {
    margin-right: 0.5em;
  }
}

#TableOfContents {
  > ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
  li > ul {
    margin-left: 0;
  }
}

.edit-on-github {
  font-size: 80%;
  font-weight: 400;
  border-radius: 3px;
  display: inline-flex;
  align-self: start;

  a {
    display: inline-block;
  }

  svg {
    height: 1rem;
    margin-right: 0.5rem;
    fill: currentColor;
  }

  @media (--large) {
    margin-left: 1rem;
  }
}
