.single--title {
  font-size: var(--h1);
  margin: 0 0 0.25em;

  @media (--large) {
    font-size: var(--h1)
  }
}
.single--image {
  margin-bottom: 1rem;
}

.single--date {
  @mixin date-item;
  margin-top: 1em;
}

.single--post--block1 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.single--post--tags {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 0.5em;
  }

  a {
    margin: 0;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.single--post-body {
  padding-top: 1rem;

  p,
  a,
  ol,
  ul,
  div,
  pre {
    margin-bottom: 1em;
    line-height: 1.5;
  }

  li > ul {
    margin-bottom: 0;
  }

  small {
    line-height: 1.2;
  }

  ol,
  ul {
    margin-left: 1em;

    li {
      margin-bottom: 0.25em;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: number;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  p > code {
    word-break: break-all;
  }

  .header-link {
    margin-right: 0.5em;
  }
}

#TableOfContents {
  > ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
  li > ul {
    margin-left: 0;
  }
}

.footnotes {
  hr {
    color: var(--colors-gray-100);
    margin: 2rem;
  }
  font-size: 0.8em;
  font-style: italic;
  font-weight: var(--font-semibold);
  padding-bottom: 1rem;

  ol::before {
    content: "Sources:"
  }

  li {
    margin-left: 1.5rem;

    &:first-child {
      margin-top: 0.5rem;
    }
  }

  a {
    font-weight: var(--font-medium);
  }
}

.edit-on-github {
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 0.25em;
  display: inline-flex;
  align-self: start;

  a {
    display: inline-block;
  }

  svg {
    height: 1rem;
    margin-right: 0.5rem;
    fill: currentColor;
  }

  @media (--large) {
    margin-left: 1rem;
  }
}
