.edit-on-github {
  font-size: 80%;
  font-weight: 400;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;

  a {
    display: inline-block;
  }

  svg {
    height: 1rem;
    margin-right: 0.5rem;
    fill: currentColor;
  }

  @media (--large) {
    margin-left: 1rem;
  }
}
