<div class="contact resume-grid section">
    <h3 class="left-column section-title contact">Contact</h3>
    <div class="main-column contact-section">
        <ul class="contact-details">
            <li class="email"><a href="mailto:{{ .me.email }}" class="unstyled">{{ .me.email }}</a></li>
            <li class="web"><a href="{{ .me.website }}" class="unstyled">{{ .me.website }}</a></li>
            {{ $telephone := (replaceRE "[^0-9]+" "" .me.phone) -}}
            <li class="tel"><a href="tel:{{ $telephone }}" class="unstyled">{{ .me.phone }}</a></li>
        </ul>
        <ul class="contact-external-links">
            {{ range .me.profiles -}}
            <li><a href="{{ .url }}" target="_blank" rel="noopener">{{ .network }}</a></li>
            {{ end -}}
        </ul>
    </div>
</div>
