<ul id="educations">
    <li class="resume-grid">
        <h3 class="left-column uppercase text-xl"><strong>Education</strong></h3>
    </li>
    {{ range .educations }}
    <li class="resume-grid">
        <div class="left-column">
            <p><strong>{{ .institution }}</strong></p>
            <p class="italic"><small>{{ dateFormat "Jan 2006" .endDate }}</small></p>
        </div>
        <div class="main-column">
            <p>{{ .area }}</p>
            <p>{{ .studyType }}</p>
        </div>
    </li>
    {{ end }}
</ul>