<section id="experiences" class="section">
    <header class="resume-grid">
        <h3 class="left-column section-title">Experience</h3>
    </header>
    {{ range .works -}}
    {{ if not (hasPrefix .company "__") -}}
    <article class="resume-grid item">
        <div class="left-column">
            <p class="item-title">
                {{ if isset . "website" }}
                <a href="{{ .website }}" target="_blank" rel="noopener">{{ .company }}</a>
                {{ else }}
                <a>{{ .company }}</a>
                {{ end }}
            </p>
            <p class="item-subtitle">{{ .position }}</p>
            <p class="item-date">{{ dateFormat "Jan 2006" .startDate }} - {{ if eq .endDate "present" }}present{{ else }}{{ dateFormat "Jan 2006" .endDate }}{{ end }}</p>
        </div>
        <ul class="main-column item-list">
            {{ with .summary }}
            {{ if not (hasPrefix . "__") -}}
<!--            <li style="background-color:var(&#45;&#45;colors-gray-200); padding: 0.5em; font-size: 0.8em; margin-top: -0.5em;">{{ . | markdownify }}</li>-->
            {{ end -}}
            {{ end }}

            {{ range .highlights -}}
            {{ if not (hasPrefix . "__") -}}
            <li>{{ . | markdownify }}</li>
            {{ end -}}
            {{ end -}}
        </ul>
    </article>
    {{ end -}}
    {{ end -}}
</section>
