<ul id="experiences">
    <li class="main-layout">
        <h3 class="sidebar uppercase text-xl"><strong>Experience</strong></h3>
    </li>
    {{ range .works }}
    <li class="main-layout">
        <div class="sidebar">
            <p>
                <a href="{{ .website }}"
                   target="_blank"
                   rel="noopener"
                >
                    <strong>{{ .company }}</strong>
                </a>
            </p>
            <p>{{ .position }}</p>
            <p class="italic"><small>{{ dateFormat "Jan 2006" .startDate }} - {{ if eq .endDate "present" }}present{{ else }}{{ dateFormat "Jan 2006" .endDate }}{{ end }}</small></p>
        </div>
        <ul class="description">
            {{ range .highlights }}
            <li class="mb-2 break-normal">{{ . }}</li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
