<div id="me" class="resume-grid relative">
    <div class="left-column">
        <p class="first name">
            <a class="text-gray-800 hover:text-gray-800 dark:text-white dark:hover:text-white" href="{{ .me.website }}">Jason</a>
        </p>
    </div>

    <div class="main-column about-me">
        <p class="last name">
            <a class="text-gray-800 hover:text-gray-800 dark:text-white dark:hover:text-white" href="{{ .me.website }}">Raimondi</a>
        </p>
        <h2 class="job-title">{{ .me.label }}</h2>
    </div>

    {{ partial "resume/links.html" (dict "context" . "me" .me) }}
</div>
