<ul id="skills" class="section">
    <li class="resume-grid">
        <h3 class="left-column section-title">Skills</h3>
    </li>
    {{ range .skills }}
    <li class="resume-grid item">
        <h4 class="left-column item-title">{{ .name }}</h4>
        <ul class="main-column skill-section-list">
            {{ range .keywords }}
            {{ $url := (print "https://www.google.com/search?q=" .) | safeURL }}
            <li class="skill-item">
                <a class="label"
                   href="{{ $url | safeURL }}" target="_blank" rel="noopener">{{ . }}</a>
            </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
