<ul id="skills">
    <li class="main-layout">
        <h3 class="sidebar uppercase text-xl"><strong>Skills</strong></h3>
    </li>
    {{ range .skills }}
    <li class="skill main-layout">
        <h4 class="sidebar mb-2"><strong>{{ .name }}</strong></h4>
        <ul class="description flex flex-wrap">
            {{ range .keywords }}
            {{ $url := (print "https://www.google.com/search?q=" .) | safeURL }}
            <li class="mb-2">
                <a class="px-2 py-1 bg-green-600 hover:bg-green-800 dark:bg-purple-500 dark:hover:bg-purple-300 dark:hover:text-gray-800 text-white font-bold rounded mr-2"
                   href="{{ $url | safeURL }}" target="_blank" rel="noopener">{{ . }}</a>
            </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
