<ul id="skills">
    <li class="resume-grid">
        <h3 class="left-column uppercase text-xl"><strong>Skills</strong></h3>
    </li>
    {{ range .skills }}
    <li class="skill resume-grid">
        <h4 class="left-column mb-2"><strong>{{ .name }}</strong></h4>
        <ul class="main-column flex flex-wrap">
            {{ range .keywords }}
            {{ $url := (print "https://www.google.com/search?q=" .) | safeURL }}
            <li class="mb-2">
                <a class="label"
                   href="{{ $url | safeURL }}" target="_blank" rel="noopener">{{ . }}</a>
            </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
