<style>
  .archived-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .archived {
    display: inline-block;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
    color: var(--colors-rose-600);
    background-color: var(--colors-rose-200);
    border: 1px solid var(--colors-rose-600);
    font-size: 1rem;
    text-align: center;
  }

  .archived .title {
    padding-bottom: 0.125rem;
    font-weight: 700;
    font-size: 1.2rem;
  }
</style>

<div class="archived-wrapper">
  <div class="archived">
    <p class="title">Outdated</p>
    <p>This page contains outdated information and may no longer work as expected.</p>
  </div>
</div>