<style>
.ukraine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  background: linear-gradient(to bottom, #005bbb 50%, #ffd500 50%);
}
.ukraine a {
  position: relative;
  top: -1em;
  color: #ffd500;
}
.ukraine a:hover,
.ukraine a:active,
.ukraine a:focus {
  color: #ffea80;
}
</style>

<div class="ukraine">
    <a href="https://en.wikipedia.org/wiki/War_crimes_in_the_2022_Russian_invasion_of_Ukraine">
        Slava Ukraini!
    </a>
</div>
