.about-me {
  display: grid;
  grid-template-areas:
        "last"
        "label";
  grid-template-rows: 1fr 25px;
}

.full-name {
  @mixin stretch;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: var(--text-xxl);
  height: var(--text-xxxl);
  margin-top: 2rem;
  margin-bottom: -1rem;

  .first {
    font-weight: var(--font-normal);
  }

  .last {
    font-weight: var(--font-black);
  }

  @media (--medium) {
    display: none;
  }
}

.name {
  display: none;
  line-height: 1;
  text-transform: uppercase;
  max-height: 3rem;
  font-size: 3rem;

  @media (--medium) {
    display: block;
    max-height: 4.25rem;
    font-size: 4.25rem;
  }

  @media (--xlarge) {
    max-height: 6rem;
    font-size: 6rem;
  }
}

.resume-grid .first {
  grid-area: first;

  @media (--medium) {
    text-align: right;
    direction: rtl;
    position: relative;
    right: -8px;
  }
}

.resume-grid .last {
  font-weight: var(--font-black);
  text-transform: uppercase;
  grid-area: last;
}

.job-title {
  grid-area: label;
  font-weight: var(--font-black);
  font-size: var(--text-xl);
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
}

@media (--medium) {
  .last, .job-title {
    @mixin stretch;
  }
}

#contact {
  grid-area: contact;
  padding-top: 1em;

  li {
    padding-bottom: 0.5em;
  }
}

.external-sites {
  padding-top: 2rem;

  li {
    padding-bottom: 0.5em;
  }
}

#profiles {
  display: none;
}

@media (--xxlarge) {
  #profiles {
    display: block;
    position: absolute;
    right: 0;
    margin-right: -260px;
  }
}