{{ define "main" }}

<div class="home" style="font-weight: 200;">
    <h1 class="h1 font-mono" style="font-weight: 400;letter-spacing: -2px;">
        Hey,
        <picture>
            <source srcset="https://assets.jasonraimondi.com/misc/me/animoji-hi.webp, https://assets.jasonraimondi.com/misc/me/animoji-hi@2x.webp 2x" type="image/webp">
            <source srcset="https://assets.jasonraimondi.com/misc/me/animoji-hi.png, https://assets.jasonraimondi.com/misc/me/animoji-hi@2x.png 2x" type="image/png">
            <img src="https://assets.jasonraimondi.com/misc/me/animoji-hi.png" alt="emoji of me waving hi" style="position: relative; height: 3rem; top: 0.5rem"/>
        </picture>
        I'm Jason
    </h1>

    <h3 class="h2 font-mono" style="font-weight: 400;letter-spacing: -1px;">I am a technologist and computer geek</h3>

    <p>I work at <a href="https://twitter.com/hitrecord" target="_blank" rel="nofollow">@HITRECORD</a> doing a lot of ops work. Recently, I've been focusing on containerizing our Ruby application and deploying us on AWS Elastic Kubernetes Service.</p>

    <p>I have been professionally developing for the web since 2009. Early on I was primarily developing more traditional server rendered <strong>PHP</strong> applications with a bit of  <strong>JavaScript</strong>. Recently, my favorite stack has been <strong>Golang</strong> or <strong>TypeScript</strong> from top to bottom.</p>

    <p>I have experience writing modular applications and have migrated to an entire containerized based deploy using Docker.</p>

    <p>If I’m not learning a new language or practicing software architecture design patterns, I’m out with my amazing wife or watching, listening to, or reading to a good movie or book.</p>

    {{ with .Site.Params.Twitter }}
    <p>You can follow my ramblings <a href="https://twitter.com/{{ . }}" target="_blank" rel="nofollow">@{{ . }}</a>.</p>
    {{ end }}

    {{ with .Site.Params.Projects.Link }}
    <ul class="list-reset">
        <li><p class="h3" style="font-weight: 400;">These are some projects I've worked on recently:</p></li>
        {{ range $i, $p := . }}
        <li style="margin-left: 0.5rem;">
            &rarr; <a href="{{ $p.url | relURL }}">{{ $p.name }}</a>
            {{ with $p.description }}- {{ . }}{{ end }}
        </li>
        {{ end }}
    </ul>
    {{ end }}

    <p class="h3" style="font-weight: 400;">Curious about how I work?</p>

    <p>
        Check out my <a href="/uses">uses</a> page for a full list of all the software, gadgets, and services I use.
    </p>

    {{ with .Site.Params.ExternalMenu }}
    <ul class="over-there-links list-reset">
        <li class="title">
            <p class="h3" style="font-weight: 400;">{{ .Title }}</p>
        </li>
        {{ with $.Site.Params.Twitter}}
        <li><a href="//twitter.com/{{ . }}" target="_blank" rel="nofollow">Twitter</a></li>
        {{ end }}
        {{ range .Link }}
        <li><a href="{{ .url | relURL }}" target="_blank" rel="nofollow">{{ .name }}</a></li>
        {{ end }}
    </ul>
    {{ end }}

</div>

{{ end }}
