@import '../css/_variables.pcss';

.video-container video {
  background-color: var(--white);
}

.portrait {
  width: 80%;
  margin: 0 auto;
}

@media (--medium) {
  .portrait {
    width: 75%;
  }
}

@media (--large) {
  .portrait {
    width: 70%;
  }
}

@media (--xlarge) {
  .portrait {
    width: 60%;
  }
}
