.navigation {
  display: none;
  align-items: center;
  background-color: $white;
  height: 75px;
  padding: 0 0.5rem;
  border-bottom: 1px solid $grey-light;

  @media (--large) {
    display: flex;
    margin-left: $sidebar-width;
  }
}

.navigation-constrain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation-title {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

.sidebar-is-open .navigation {
  margin-left: $sidebar-width;
}
