@import '_variables.scss';

.post-container {
  padding-top: 1rem;
  padding-bottom: 2rem;

  @media #{$large} {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

.post-container header h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.date,
.post-container time,
.post-container span[itemprop="author"] {
  color: $grey;
}

#post-content {
  p,
  ol,
  ul,
  div,
  pre {
    margin-bottom: 1rem;
  }

  iframe {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  ol,
  ul {
    margin-left: 0.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.use-pretty-links {
  h2 a {
    background-position: 0 2rem;
    background-size: 2px 2px;
  }
  
  h3 a {
    background-position: 0 1.625rem;
    background-size: 3px 3px;
  }
  
  h4 a {
    background-position: 0 1.375rem;
    background-size: 3px 3px;
  }
  
  h5 a {
    background-position: 0 1.25rem;
    background-size: 2px 2px;
  }
  
  h6 a {
    background-position: 0 1.125rem;
    background-size: 1px 1px;
  }

  p,
  ul,
  ol {
    font-size: 1.125rem;
  }

  p a,
  ul a,
  ol a {
    background-position: 0 1.25rem;
    background-size: 1px 1px;
  }

  a :not(img, span, small) {
    text-decoration: none;
    color: $black;
    background-image: linear-gradient(#ffffff 50%, $black 50%);
    background-repeat: repeat-x;

    &:hover {
      color: $purple-dark;
      background-image: linear-gradient(#ffffff 50%, $purple-dark 50%);
    }

    &:visited {
      color: $purple-dark;
      background-image: linear-gradient(#ffffff 50%, $purple-dark 50%);
    }
  }
}
