@import '_variables.scss';

.post-container {
  padding-top: 1rem;
  padding-bottom: 2rem;

  @media #{$large} {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

.post-container header h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.date,
.post-container time,
.post-container span[itemprop="author"] {
  color: $grey;
}

#post-content {
  p {
    line-height: 1.8;
  }

  p,
  ol,
  ul,
  div,
  pre {
    margin-bottom: 1rem;
  }

  iframe {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  ol,
  ul {
    margin-left: 0.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
