.post-list-anchor {
  color: $black;
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid $grey-light;

  &:hover .post-list-title {
    text-decoration: underline;
  }

  &:last-child {
    border-bottom: none;
  }
}

.post-list-title-container {
  @media #{$small} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.post-list-title {
  font-size: 1.25rem;
  color: $green;
  &:hover {
    color: $green-dark;
  }
}

.post-list-date {
  min-width: 125px;
  font-size: 80%;
  color: $grey;
  &:hover {
    color: $grey-dark;
  }
  @media #{$large} {
    min-width: 200px;
  }
}

.post-list-excerpt {
  color: $black;
  &:hover {
    color: $black;
  }
}

.related-posts {
  margin-top: 3rem;
  ul li {
    margin-bottom: 0.4rem;
  }
}
