@import '_variables.scss';

.sidebar {
  border-right: 1px solid $grey-light;
  background-color: $white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: $sidebar-width;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  flex-direction: column;

  @media #{$large} {
    display: flex;
  }
}

.mobile-nav {
  margin-top: 2rem;
  display: flex;
  align-items: center;

  @media #{$large} {
    display: none;
  }
}

.sidebar-toggle-container {
  margin-right: 2rem;
  border: 1px solid $grey;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px;

  @media #{$large} {
    display: none;
  }
}

.sidebar-toggle-icon {
  height: 80%;
  width: 80%;
  background: url('/icons/menu.svg');
}

.sidebar .avatar {
  display: block;
}

.sidebar .avatar img {
  width: calc(100% - 120px);
  margin-top: 30px;
  padding: 0 60px 25px 60px;
  border-radius: 9999px;
}

.sidebar ul li {
  padding-left: 2.75rem;
  margin-bottom: 0.5rem;
}

.sidebar ul li.sidebar-title,
.sidebar-site-name {
  padding-left: 2rem !important;
}

.sidebar-title h5,
.sidebar-site-name h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.sidebar-site-name h1 {
  font-size: 1.75rem;
  color: $black;
  margin-bottom: 15px;
}


.sidebar-is-open .sidebar {
  display: flex;
}

@media #{$large} {
  .page-content {
    margin-left: $sidebar-width;
  }
}
