#top-bar .label {
  color: var(--color-white);
  background-color: var(--color-green-500);
  transition: 0.3s ease;

  @media (--dark) {
    background-color: var(--color-purple-500);

    &:focus,
    &:hover {
      color: var(--color-gray-800);
      background-color: var(--color-purple-200);
    }
  }
}
